.about {
  padding: 70px 0;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1020px;
}

.about__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: var(--secondary-font-color);
}

.about__subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--secondary-font-color);
}

.about__subtitle:before, .about__subtitle:after {
  display: block;
  content: "";
  width: 43px;
  height: 2px;
  background-color: var(--secondary-font-color);
}

.about__subtitle:before {
  margin-right: 23px;
}

.about__subtitle:after {
  margin-left: 23px;
}

.about__text {
  width: 724px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--secondary-font-color);
}

.about__list {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  counter-reset: count 0;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 196px;
}

.about__item-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 122px;
  margin-bottom: 16px;
  background-color: #23C7EC;
  border-radius: 50%;
}

.about__item-counter:after {
  content: counter(count);
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: var(--primary-font-color);
  counter-increment: count;
}

.about__item-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--secondary-font-color);
}

@media (max-width: 1024px) {
  .about__container {
    max-width: 930px;
  }

  .about__title {
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 38px;
  }

  .about__subtitle {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 23px;
  }

  .about__subtitle:before, .about__subtitle:after {
    width: 40px;
  }

  .about__subtitle:before {
    margin-right: 22px;
  }

  .about__subtitle:after {
    margin-left: 22px;
  }

  .about__text {
    width: 666px;
    font-size: 16px;
    line-height: 23px;
  }

  .about__item {
    flex-basis: 180px;
  }

  .about__item-counter {
    width: 104px;
    height: 104px;
    margin-bottom: 26px;
  }

  .about__item-counter:after {
    font-size: 52px;
    line-height: 73px;
  }

  .about__item-text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 768px) {
  .about__list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
  }

  .about__item {
    flex-basis: 35%;
  }
}

@media (max-width: 680px) {
  .about__text {
    width: 290px;
  }
}

@media (max-width: 530px) {
  .about__list {
    flex-direction: column;
    row-gap: 40px;
  }

  .about__item {
    width: 166px;
  }
}

@media (max-width: 320px) {
  .about {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .about__container {
    max-width: 320px;
  }

  .about__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 23px;
  }

  .about__subtitle {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 23px;
  }

  .about__subtitle:before, .about__subtitle:after {
    width: 19.71px;
    height: 1px;
  }

  .about__subtitle:before {
    margin-right: 21.68px;
  }

  .about__subtitle:after {
    margin-left: 21.68px;
  }

  .about__text {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 17px;
  }
}
