.call-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 208px;
}

.call-me__phone {
  margin-bottom: 2.85px;
  font-size: 23.85px;
  line-height: 28px;
}

.call-me__button {
  padding-top: 3px;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-font-color);
}

@media (max-width: 1024px) {
  .call-me {
    flex-basis: 186px;
  }

  .call-me__phone {
    margin-bottom: 4px;
    font-size: 21px;
    line-height: 25px;
  }

  .call-me__button {
    padding-bottom: 2px;
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 480px) {
  .call-me {
    flex-basis: 48px;
  }

  .call-me__phone {
    margin-bottom: 0;
    background: url("../../assets/img/icons/phone.svg") no-repeat center / cover;
    width: 48px;
    height: 48px;
    font-size: 0;
  }

  .call-me__button {
    display: none;
  }
}

@media (max-width: 320px) {
  .call-me {
    flex-basis: 24px;
  }

  .call-me__phone {
    width: 24px;
    height: 24px;
  }
}
