.footer {
  padding: 45px 0;
  background-color: #2F324B;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.footer__copyright-text {
  width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__mobile-text {
  display: none;
}

/* media queries */
@media (max-width: 1024px) {
  .footer {
    padding-top: 37px;
    padding-bottom: 49px;
  }

  .footer__container {
    max-width: 1024px;
  }

  .footer__logo {
    width: 60px;
  }

  .footer__text {
    opacity: 0.5;
  }
}

@media (max-width: 680px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 0;
  }
  .footer__container {
    padding-bottom: 25px;
  }

  .footer__text {
    display: none;
  }

  .footer__mobile-text {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #2A2C3F;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    opacity: 0.5;
  }
}

@media (max-width: 320px) {
  .footer__container {
    max-width: 320px;
  }

  .footer__logo {
    width: 30px;
  }

  .footer__copyright-text {
    width: 87.3px;
    font-size: 8px;
    line-height: 11px;
  }

  .footer__mobile-text {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #2A2C3F;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    opacity: 0.5;
  }
}
